<%- include("./partials/header") -%>
<h2 class="heading"><%= date %></h2>
<% if(data.length === 0){ %>
    <h3 class="heading">No Events Scheduled</h3>
<% }else{ %>
    <div class="main">
        <div class="head-title">Start Time</div>
        <div class="head-title">End Time</div>
        <div class="head-title">Teacher Name</div>
        <div class="head-title">Topic</div>
        <span></span>
        <% data.forEach((value)=>{ %>
            <div class="info"><%= value.startTime %></div>
            <div class="info"><%= value.endTime %></div>
            <div class="info"><%= value.teacherName %></div>
            <div class="info"><%= value.title %></div>
            <form title="Delete Event? &#010Cannot recover after deletion" class="delete-form" action="/schedule/<%= value.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i></button>
            </form>
        <% }) %>
    </div>    
<% } %>
<a href="/schedule?date=<%= date %>" class="new-button">Add New Event</a>


<%- include("./partials/footer") -%>