<%- include("./partials/header") -%>
<h1 class="heading">Schedule for <%= teacherName %></h1>
<% if(data.length === 0){ %>
    <h3 class="heading">No Events Scheduled</h3>
<% }else{ %>
    <div class="main">
        <div class="head-title">Date</div>
        <div class="head-title">Start Time</div>
        <div class="head-title">End Time</div>
        <div class="head-title">Topic</div>
        <span></span>
        <% data.forEach((value)=>{ %>
            <div class="info"><%= value.date %></div>
            <div class="info"><%= value.startTime %></div>
            <div class="info"><%= value.endTime %></div>
            <div class="info"><%= value.title %></div>
            <form title="Delete Event? &#010Cannot recover after deletion" class="delete-form" action="/schedule/<%= value.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i></button>
            </form>
            <!-- <a href="/schedule/<%= value.id %>?_method=DELETE" class="delete-btn"><i class="fas fa-trash-alt"></i></a> -->
        <% }) %>
    </div>    
<% } %>
<a class="new-button" href="/schedule?id=<%= teacherId %>&name=<%= teacherName %>">Add New Event</a>


<%- include("./partials/footer") -%>